# scheme: "tokyonight"
# source: "https://github.com/folke/tokyonight.nvim/blob/main/extras/tilix/tokyonight_night.json"
COLOR_0=1a1b26      # black    -> this is the background color as well
COLOR_1=f7768e      # darkred
COLOR_2=9ece6a      # darkgreen
COLOR_3=e0af68      # brown
COLOR_4=7aa2f7      # darkblue
COLOR_5=bb9af7      # darkmagenta
COLOR_6=7dcfff      # darkcyan
COLOR_7=a9b1d6      # lightgray
COLOR_8=414868      # darkgray
COLOR_9=f7768e      # red
COLOR_10=9ece6a     # green
COLOR_11=e0af68     # yellow
COLOR_12=7aa2f7     # blue
COLOR_13=bb9af7     # magenta
COLOR_14=7dcfff     # cyan
COLOR_15=c0caf5     # white   -> this is the foreground color as well
