# scheme: "Catppuccin Mocha"
# author: "https://github.com/catppuccin/catppuccin"
# source: "https://github.com/catppuccin/base16/blob/main/base16/mocha.yaml"
COLOR_0=bac2de      # black    -> this is the background color as well
COLOR_1=f38ba8      # darkred
COLOR_2=a6e3a1      # darkgreen
COLOR_3=f9e2af      # brown
COLOR_4=89b4fa      # darkblue
COLOR_5=f5c2e7      # darkmagenta
COLOR_6=94e2d5      # darkcyan
COLOR_7=585b70      # lightgray
COLOR_8=a6adc8      # darkgray
COLOR_9=f38ba8      # red
COLOR_10=a6e3a1     # green
COLOR_11=f9e2af     # yellow
COLOR_12=89b4fa     # blue
COLOR_13=f5c2e7     # magenta
COLOR_14=94e2d5     # cyan
COLOR_15=45475a     # white   -> this is the foreground color as well
