# Ansible Collection {{ collection_namespace|replace('-', '_') }}.{{ collection_name|replace('-', '_') }}

> Add collection description here

## Run playbook

```sh
ansible-playbook {{ collection_namespace|replace('-', '_') }}.{{ collection_name|replace('-', '_') }}.main
```
