---
# Default CLI Text Editor
default_cli_text_editor: "{{ default_cli_text_editor }}"

# Default VISUAL Text Editor
default_visual_text_editor: "{{ default_visual_text_editor }}"

# Default terminal emulator
default_terminal_emulator: "{{ default_terminal_emulator }}"
