---
# Default CLI Text Editor
editor_env_arcfg_name: "{{ default_cli_text_editor }}"

# Default GUI Text Editor
xdg_open_env_arcfg_editor: "{{ default_visual_text_editor }}"

# Default terminal emulator
xdg_terminal_exec_env_arcfg_name: "{{ default_terminal_emulator }}"
