---
# Country and language
locale_country_code: "{{ country_code }}"
locale_language_code: "{{ language_code }}"

# Encoding
locale_encoding: "UTF-8"

# Keyboard
keyboard_layout: "{{ alternate_keyboard_layout }}"

# vconsole
vconsole_font: "ter-c16b"
vconsole_keymap: "{{ alternate_keyboard_layout }}"
