COLOR_0=1F1F1F      # black    -> this is the background color as well
COLOR_1=d73737      # darkred
COLOR_2=60ac39      # darkgreen
COLOR_3=cfb017      # brown
COLOR_4=6684e1      # darkblue
COLOR_5=b854d4      # darkmagenta
COLOR_6=1fad83      # darkcyan
COLOR_7=a6a28c      # lightgray
COLOR_8=7d7a68      # darkgray
COLOR_9=d73737      # red
COLOR_10=60ac39     # green
COLOR_11=cfb017     # yellow
COLOR_12=6684e1     # blue
COLOR_13=b854d4     # magenta
COLOR_14=1fad83     # cyan
COLOR_15=fefbec     # white   -> this is the foreground color as well
