[Service]
Environment=ROT8_DISPLAY={{ display_id }}
# Environment=ROT8_THRESHOLD=0.5
# Environment=ROT8_NORMALIZATION_FACTOR=1e6
# Environment=ROT8_INVERT_X=1
# Environment=ROT8_INVERT_Y=1
# Environment=ROT8_INVERT_Z=1
# Environment=ROT8_INVERT_XY=xy
