---
# vars file for "{{ collection_namespace|replace('-', '_') }}.{{ collection_name|replace('-', '_') }}.{{ role_name|replace('-', '_') }}" role
{{ collection_namespace|replace('-', '_') }}_{{ collection_name|replace('-', '_') }}_{{ role_name|replace('-', '_') }}_packages:
  - "{{ role_name }}"
