---
# vars file for "{{ collection_namespace|replace('-', '_') }}.{{ collection_name|replace('-', '_') }}.{{ role_name|replace('-', '_') }}" role
{% if 'install' in role_blocks -%}
{{ role_name|replace('-', '_') }}_packages:
  - "{{ role_name }}"
{% endif -%}
