---
galaxy_info:
  description: "{{ role_description | replace("\"", "'") }}"

  # Platforms is a list of platforms, and each platform has a name and a list of versions.
  platforms:
    - name: "ArchLinux"
      versions:
        - "all"

# List your role dependencies here, one per line. Be sure to remove the '[]' above,
# if you add dependencies to this list.
{% if 'dconf' in role_blocks -%}
dependencies:
  - role: arcfg.internal.python_psutil
{% else -%}
dependencies: []
{% endif -%}
