---
# tasks file for "arcde.kotami.niri_lisgd" role
- name: "Create lisgd.service.d directory"
  ansible.builtin.file:
    path: "~/.config/systemd/user/"
    state: "directory"
    mode: "u=rwx,g=rx,o=rx"

- name: "Copy the 'niri-lisgd' files"
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode if item.mode is defined else 'u=rw,g=r,o=r' }}"
  loop:
    - src: "home/user/.local/bin/niri-lisgd"
      dest: "~/.local/bin/niri-lisgd"
      mode: "u=rwx,g=rx,o=rx"
    - src: "home/user/.local/bin/niri-lisgd-setup"
      dest: "~/.local/bin/niri-lisgd-setup"
      mode: "u=rwx,g=rx,o=rx"
    - src: "home/user/.local/bin/niri-lisgd-lid-monitor"
      dest: "~/.local/bin/niri-lisgd-lid-monitor"
      mode: "u=rwx,g=rx,o=rx"
    - src: "home/user/.config/systemd/user/niri-lisgd.service"
      dest: "~/.config/systemd/user/niri-lisgd.service"
      mode: "u=rw,g=r,o=r"
    - src: "home/user/.config/systemd/user/niri-lisgd-setup.service"
      dest: "~/.config/systemd/user/niri-lisgd-setup.service"
      mode: "u=rw,g=r,o=r"
    - src: "home/user/.config/systemd/user/niri-lisgd-lid-monitor.service"
      dest: "~/.config/systemd/user/niri-lisgd-lid-monitor.service"
      mode: "u=rw,g=r,o=r"
  register: "niri_lisgd_copy"

- name: "Enable 'niri-lisgd.service'"
  ansible.builtin.systemd:
    name: "{{ item }}"
    scope: "user"
    enabled: true
    state: "started"
    daemon_reload: "{{ niri_lisgd_copy is changed }}"
  loop:
    - "niri-lisgd-setup.service"
    - "niri-lisgd.service"
    - "niri-lisgd-lid-monitor.service"
